.subtitle {
  font-weight: 700;
  font-size: d-vw(14);

  @include desktop-sm {
    font-size: ds-vw(14);
  }

  @include tablet {
    font-size: t-vw(12);
  }

  @include mobile {
    font-size: m-vw(12);
  }
}

.body-1 {
  font-size: d-vw(14);

  @include desktop-sm {
    font-size: ds-vw(12);
  }

  @include tablet {
    font-size: t-vw(10);
  }

  @include mobile {
    font-size: m-vw(10);
  }
}

.body-2 {
  font-size: d-vw(16);

  @include desktop-sm {
    font-size: ds-vw(16);
  }

  @include tablet {
    font-size: t-vw(14);
  }

  @include mobile {
    font-size: m-vw(12);
  }
}


.body-3 {
  font-weight: 500;
  font-size: d-vw(14);

  @include desktop-sm {
    font-size: ds-vw(12);
  }

  @include tablet {
    font-size: t-vw(10);
  }

  @include mobile {
    font-size: m-vw(10);
  }
}
