// Colors
$green: #bfefd0;
$black: #000000;
$purple: #dfd3f1;
$violet: #c5a1dc;
$blue: #b9e0f6;
$white: #ffffff;
$grey: #e1e1e1;

// Breakpoint vw
// FOR REVIEWER: я бы предпочла оставить только mobile-vw, desktop-vw. Все, что между ними осталось бы адаптивным. Но в Figma более 2 макетов, поэтому решила сделать так
$mobile-vw: 320;
$tablet-vw: 640;
$desktop-sm-vw: 1024;
$desktop-vw: 1280;

// Breakpoint px
$mobile: 320px;
$tablet: 640px;
$desktop-sm: 1024px;
$desktop: 1280px;

// Fonts
$nunito: 'Nunito Sans';

// Position
$navigationPosition: 2;
$headerPosition: 1;
