// Colors
$green: #ADFCC8;
$black: #000000;
$purple: #D6BDFF;
$violet: #DCA9FC;
$blue: #95D9FF;
$white: #ffffff;
$grey: #faf7f7;

// Breakpoint vw
// FOR REVIEWER: я бы предпочла оставить только mobile-vw, desktop-vw. Все, что между ними осталось бы адаптивным. Но в Figma более 2 макетов, поэтому решила сделать так
$mobile-vw: 320;
$tablet-vw: 640;
$desktop-sm-vw: 1024;
$desktop-vw: 1280;

// Breakpoint px
$mobile: 320px;
$tablet: 640px;
$desktop-sm: 1024px;
$desktop: 1280px;

// Fonts
$nunito: 'Nunito Sans';

// Position
$navigationPosition: 2;
$headerPosition: 1;
